/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
.main .main-page__container .main-page__box .main-page__button, .main .catalog-friends__container .catalog-friends__container-information .button__rest {
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  font-size: 17px;
  line-height: 130%;
  font-family: "Georgia", sans-serif;
  color: #292929;
  letter-spacing: 0.06em; }

.main .main-page__container .main-page__box .main-page__button:hover, .main .catalog-friends__container .catalog-friends__container-information .button__rest:hover, .main .donation-container .donation-box .donation-box-text .donation__credit-cart:hover {
  background-color: #FDDCC4;
  border: none; }

.main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .button__learn-more, .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .pets-slider__btn {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent; }

.main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .button__learn-more:hover, .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .pets-slider__btn:hover {
  background-color: #FDDCC4;
  border: none; }

.header .nav__list .nav__link, .main .main-page__container .main-page__box .main-page__text, .main .about-pets__container .about-pets__box .about-pets__text-box .about-pets__text {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 908px;
  background-image: url(2ee8932e0e75685ee150.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.header {
  height: 180px; }
  .header .header_container {
    margin: 0 auto;
    width: 100%; }
  .header .nav__list {
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .nav__list #menu__toggle {
      opacity: 0; }
    .header .nav__list .header__nav__link {
      display: flex;
      width: 443px;
      height: 27px;
      justify-content: space-between; }
    .header .nav__list .nav__link {
      position: relative;
      color: #CDCDCD;
      cursor: pointer;
      line-height: 1;
      text-decoration: none; }
      .header .nav__list .nav__link::after {
        position: absolute;
        display: block;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #F1CDB3;
        content: "";
        transition: width 0.3s ease-out; }
      .header .nav__list .nav__link:hover::after {
        width: 100%; }

.main .main-page__container {
  display: flex;
  padding: 0 40px;
  justify-content: center; }
  .main .main-page__container .main-page__box {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 728px;
    justify-content: space-between; }
    .main .main-page__container .main-page__box .main-page__box-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 322px;
      width: 460px;
      max-width: 100%;
      margin-top: 164px; }
    .main .main-page__container .main-page__box .main-page__title {
      font-family: "Georgia", sans-serif;
      font-weight: 400;
      font-size: 44px;
      width: 310px;
      height: 114px;
      line-height: 130%;
      color: #FFFFFF; }
    .main .main-page__container .main-page__box .main-page__text {
      color: #CDCDCD; }
    .main .main-page__container .main-page__box .main-page__button {
      width: 207px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center; }

.main .about-pets__container {
  width: 100%;
  height: 588px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-top: 80px; }
  .main .about-pets__container .about-pets__box {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 408px;
    justify-content: center;
    align-items: center; }
    .main .about-pets__container .about-pets__box .about-pets__text-box {
      width: 430px;
      height: 380px;
      margin-left: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .main .about-pets__container .about-pets__box .about-pets__text-box .about-pets__title {
        width: 370px;
        font-family: "Georgia", sans-serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454; }
      .main .about-pets__container .about-pets__box .about-pets__text-box .about-pets__text {
        color: #4C4C4C; }

.main .catalog-friends__container {
  width: 100%;
  height: 877px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px; }
  .main .catalog-friends__container .catalog-friends__container-information {
    width: 100%;
    max-width: 1200px;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__title {
      font-family: "Georgia", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #545454;
      text-align: center; }
    .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box {
      max-width: 1200px;
      width: 100%;
      height: 420px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .catalog-friends__pets {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        justify-content: space-between;
        margin: 0 53px; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .catalog-friends__pets-item {
        width: 270px;
        height: 435px;
        background-color: #FAFAFA;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .catalog-friends__name {
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 30px;
        margin-top: 30px; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .button__learn-more {
        width: 187px;
        height: 52px;
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .pets-slider__btn {
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .main .catalog-friends__container .catalog-friends__container-information .button__rest {
      width: 261px;
      height: 52px; }

.main .help-shelter__container {
  width: 100%;
  height: 611px;
  background-color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .main .help-shelter__container .help-shelter__container-information {
    width: 100%;
    max-width: 1200px;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px; }
    .main .help-shelter__container .help-shelter__container-information .help-shelter__title {
      font-family: "Georgia", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #545454;
      width: 346px;
      height: 90px;
      text-align: center; }
    .main .help-shelter__container .help-shelter__container-information .help-shelter__box {
      height: 281px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .main .help-shelter__container .help-shelter__container-information .help-shelter__box .help-shelter__item {
        height: 113px;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
      .main .help-shelter__container .help-shelter__container-information .help-shelter__box .help-shelter__name {
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454; }

.main .donation-container {
  width: 100%;
  min-height: 462px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .donation-container .donation-box {
    width: 100%;
    max-width: 915px;
    min-height: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; }
    .main .donation-container .donation-box .credit-cart__puppy {
      width: 505px;
      height: 261px; }
    .main .donation-container .donation-box .donation-box-text {
      width: 380px;
      height: 283px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .main .donation-container .donation-box .donation-box-text .donation__title {
        width: 300px;
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454; }
      .main .donation-container .donation-box .donation-box-text .donation__bank-account {
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454; }
      .main .donation-container .donation-box .donation-box-text .donation__credit-cart {
        width: 349px;
        height: 43px;
        background-color: #F1CDB3;
        border-radius: 9px;
        border: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        font-family: "Georgia", sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454; }
      .main .donation-container .donation-box .donation-box-text .donation__legal-information {
        font-family: "Arial", sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #B2B2B2; }

.footer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .footer .footer-container {
    width: 100%;
    padding: 0 40px;
    height: 310px;
    display: flex;
    justify-content: space-between; }
    .footer .footer-container .footer-container__box {
      width: 100%;
      max-width: 740px;
      display: flex;
      justify-content: space-between;
      padding-top: 16px; }
    .footer .footer-container .footer-container__contacts {
      max-width: 302px;
      height: 234px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer .footer-container .footer-container__contacts .footer__title {
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF; }
      .footer .footer-container .footer-container__contacts .footer__connected {
        display: flex;
        align-items: center; }
        .footer .footer-container .footer-container__contacts .footer__connected .footer__connected-text {
          font-family: "Georgia", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3;
          padding-left: 20px; }

@media (min-width: 1400px) {
  .main .main-page__container .main-page__box {
    max-width: 100%;
    justify-content: space-evenly; }
  .footer .footer-container {
    justify-content: space-evenly; } }

@media (min-width: 1280px) {
  .help-shelter__item:nth-child(1) {
    transform: translate(-61px, 0px); }
  .help-shelter__item:nth-child(2) {
    transform: translate(-31px, 0px); }
  .help-shelter__item:nth-child(3) {
    transform: translate(-10px, 0px); }
  .help-shelter__item:nth-child(4) {
    transform: translate(11px, 0px); }
  .help-shelter__item:nth-child(5) {
    transform: translate(53px, 0px); }
  .help-shelter__item:nth-child(6) {
    transform: translate(-76px, 29px); }
  .help-shelter__item:nth-child(7) {
    transform: translate(-67px, 29px); }
  .help-shelter__item:nth-child(8) {
    transform: translate(-18px, 29px); }
  .help-shelter__item:nth-child(9) {
    transform: translate(50px, 29px); } }

@media (max-width: 1100px) {
  .header {
    height: 150px; }
    .header .nav .nav__list {
      padding: 29px 0;
      justify-content: space-around; }
  .main .main-page__container .main-page__box {
    height: 593px; }
    .main .main-page__container .main-page__box .main-img__puppy {
      width: 569px;
      height: 593px; }
  .main .catalog-friends__container .catalog-friends__container-information {
    padding: 0 40px; }
    .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .catalog-friends__pets {
      margin: 0 8px; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .catalog-friends__pets .catalog-friends__pets-item {
        margin: 0 20px; }
  .main .main-page__button {
    align-self: center; }
  .main .help-shelter__container {
    height: 779px;
    justify-content: center;
    align-items: center; }
    .main .help-shelter__container .help-shelter__container-information {
      height: 100%;
      justify-content: space-evenly;
      margin: 0; }
      .main .help-shelter__container .help-shelter__container-information .help-shelter__box {
        height: 449px; }
        .main .help-shelter__container .help-shelter__container-information .help-shelter__box .help-shelter__item {
          flex-basis: 30%; }
  .footer {
    height: 639px;
    align-items: normal; }
    .footer .footer-container {
      flex-direction: column;
      align-items: center;
      height: initial; }
      .footer .footer-container .footer-puppy {
        width: 300px;
        height: 310px; } }

@media (max-width: 1000px) {
  .main .main-page__container .main-page__box {
    height: 1015px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .main .main-page__container .main-page__box .main-page__box-text {
      margin: 0; }
  .main .about-pets__container {
    height: 1048px;
    padding: 0;
    align-items: center; }
    .main .about-pets__container .about-pets__box {
      flex-direction: column-reverse;
      height: 868px;
      justify-content: space-around; }
      .main .about-pets__container .about-pets__box .about-pets__text-box {
        margin: 0; }
  .main .donation-container {
    height: 783px; }
    .main .donation-container .donation-box {
      align-items: center;
      flex-direction: column-reverse;
      justify-content: space-evenly; }
  .footer .footer-container .footer-container__box {
    justify-content: space-around;
    padding-top: 30px; } }

@media (max-width: 768px) {
  .main .help-shelter__container {
    height: 745px; }
    .main .help-shelter__container .help-shelter__container-information .help-shelter__box {
      height: 555px;
      justify-content: normal; }
      .main .help-shelter__container .help-shelter__container-information .help-shelter__box .help-shelter__item {
        flex-basis: 49%; }
  .menu__btn {
    display: flex;
    align-items: center;
    top: 45px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    transition-duration: 0.25s;
    position: absolute; }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    transition-duration: 0.25s; }
  .menu__btn > span::before {
    content: '';
    top: -8px; }
  .menu__btn > span::after {
    content: '';
    top: 8px; }
  .header_container {
    position: fixed;
    background-image: url(2ee8932e0e75685ee150.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .header .nav .nav__list .header__nav__link {
    display: block;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    max-height: 832px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #292929;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s; }
    .header .nav .nav__list .header__nav__link .nav__link {
      display: block;
      padding: 40px 38px;
      color: #FAFAFA;
      font-size: 32px;
      font-weight: 400;
      text-decoration: none;
      transition-duration: 0.25s; }
  .header #menu__toggle:checked ~ .menu__btn {
    transform: rotate(90deg);
    transition-duration: 0.25s; }
  .header #menu__toggle:checked ~ .header__nav__link {
    right: 0; }
  .footer {
    height: 809px; }
    .footer .footer-container .footer-container__box {
      flex-direction: column;
      align-items: center; }
      .footer .footer-container .footer-container__box .footer-container__contacts {
        justify-content: space-around; } }

@media (max-width: 600px) {
  .main .main-page__container .main-page__box {
    height: 846px; }
    .main .main-page__container .main-page__box .main-img__puppy {
      width: 401px;
      height: 431px; }
  .main .about-pets__container {
    height: 100%;
    justify-content: space-evenly; }
    .main .about-pets__container .about-pets__box {
      height: 974px; }
      .main .about-pets__container .about-pets__box .about-pets__img {
        width: 260px;
        height: 353.6px; }
      .main .about-pets__container .about-pets__box .about-pets__text-box {
        width: 300px;
        height: 494px; }
        .main .about-pets__container .about-pets__box .about-pets__text-box .about-pets__title {
          width: 287px;
          font-size: 25px;
          text-align: center; }
  .main .donation-container {
    height: 542.2px; }
    .main .donation-container .donation-box .credit-cart__puppy {
      width: 311px;
      height: 176.2px; } }

@media (max-width: 480px) {
  .main .main-page__container .main-page__box {
    width: 300px;
    height: 673px; }
    .main .main-page__container .main-page__box .main-page__box-text {
      align-items: center; }
      .main .main-page__container .main-page__box .main-page__box-text .main-page__title {
        font-size: 25px;
        width: 229px;
        height: 64px;
        text-align: center; }
      .main .main-page__container .main-page__box .main-page__box-text .main-page__text {
        text-align: center; }
    .main .main-page__container .main-page__box .main-img__puppy {
      width: 260px;
      height: 271px; }
  .main .catalog-friends__container {
    align-items: center; }
    .main .catalog-friends__container .catalog-friends__container-information {
      height: 707px; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__title {
        font-size: 25px;
        width: 300px;
        height: 64px; }
      .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box {
        overflow: auto;
        flex-wrap: wrap;
        width: 320px;
        height: 549px;
        justify-content: space-evenly; }
        .main .catalog-friends__container .catalog-friends__container-information .catalog-friends__box .catalog-friends__pets {
          order: -1; }
  .main .help-shelter__container .help-shelter__container-information .help-shelter__title {
    font-size: 25px;
    width: 100%; }
  .main .help-shelter__container .help-shelter__container-information .help-shelter__box .help-shelter__item {
    justify-content: space-around; }
    .main .help-shelter__container .help-shelter__container-information .help-shelter__box .help-shelter__item .help-shelter__name {
      font-size: 15px; }
  .main .donation-container .donation-box .credit-cart__puppy {
    width: 260px;
    height: 135.2px; }
  .main .donation-container .donation-box .donation-box-text {
    width: 300px;
    height: 281px;
    align-items: center; }
    .main .donation-container .donation-box .donation-box-text .donation__title {
      font-size: 25px;
      width: 223px;
      text-align: center; }
    .main .donation-container .donation-box .donation-box-text .donation__bank-account {
      width: 308px; }
    .main .donation-container .donation-box .donation-box-text .donation__credit-cart {
      width: 281px;
      height: 43px;
      font-size: 15px; }
  .footer {
    width: 100%;
    height: 809px; }
    .footer .footer-container {
      padding: 0; }
      .footer .footer-container .footer-container__contacts {
        align-items: center; }
        .footer .footer-container .footer-container__contacts .footer__title {
          font-size: 25px;
          text-align: center; }
        .footer .footer-container .footer-container__contacts .footer__connected {
          display: flex;
          align-items: center; }
          .footer .footer-container .footer-container__contacts .footer__connected .footer__connected-text {
            font-size: 20px; }
      .footer .footer-container .footer-puppy {
        width: 260px;
        height: 269px; } }

