@import "vars";
@import "libs";
@import "fonts";

body {
  width: 100%;
  height: 908px;
  background-image: url(../img/start-screen-gradient-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 180px;

  .header_container {
    margin: 0 auto;
    width: 1200px;
  }

  .nav__list {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__nav__link {
      display: flex;
      width: 443px;
      height: 27px;
      justify-content: space-between;
    }

    .nav__link {
      position: relative;
      color: $color-grey;
      cursor: pointer;
      line-height: 1;
      text-decoration: none;
      @extend %text-arial-fs-primary;

      &::after {
        position: absolute;
        display: block;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $color-link;
        content: "";
        transition: width 0.3s ease-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.main {
  .main-page__container {
    display: flex;
    justify-content: space-around;

    .main-page__box {
      display: flex;
      width: 1200px;
      height: 728px;

      .main-page__box-text {
        width: 460px;
        margin-top: 134px;
      }

      .main-page__title {
        font-family: $georgia-ff;
        font-weight: 400;
        font-size: $fs-title;
        width: 310px;
        height: 114px;
        line-height: 130%;
        color: $color-whit;
      }

      .main-page__text {
        color: $color-grey;
        margin: 42px 0;
        @extend %text-arial-fs-primary;
      }

      .header__button {
        width: 207px;
        height: 52px;
        @extend %primary-button;
      }

      .main-img__puppy {
        margin-left: 42px;
      }
    }
  }

  .about-pets__container {
    width: 100%;
    height: 588px;
    background-color: $color-whit;
    display: flex;
    justify-content: center;
    padding-top: 80px;

    .about-pets__box {
      display: flex;
      width: 1200px;
      height: 408px;
      justify-content: center;
      align-items: center;

      .about-pets__text-box {
        width: 430px;
        height: 380px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .about-pets__title {
          width: 370px;
          font-family: $georgia-ff;
          font-weight: 400;
          font-size: $fs-grey-title;
          line-height: 130%;
          letter-spacing: $ls-text;
          color: $color-grey-title;
        }

        .about-pets__text {
          @extend %text-arial-fs-primary;
          color: $color-dark-grey;
        }
      }
    }
  }

  .catalog-friends__container {
    width: 100%;
    height: 877px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 100px;

    .catalog-friends__container-information {
      width: 1200px;
      height: 697px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .catalog-friends__title {
        font-family: $georgia-ff;
        font-style: normal;
        font-weight: 400;
        font-size: $fs-grey-title;
        line-height: 130%;
        letter-spacing: $ls-text;
        color: $color-grey-title;
        width: 400px;
        text-align: center;
      }

      .catalog-friends__box {
        width: 1200px;
        height: 435px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .catalog-friends__pets {
          width: 270px;
          height: 435px;
          background-color: $color-whit-pets;
          border-radius: 9px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 38px;
          margin-right: 38px;
        }

        .catalog-friends__name {
          font-family: $georgia-ff;
          font-style: normal;
          font-weight: 400;
          font-size: $fs-name-pets;
          line-height: 23px;
          letter-spacing: $ls-text;
          color: $color-grey-title;
          margin-bottom: 30px;
          margin-top: 30px;
        }

        .button__learn-more {
          width: 187px;
          height: 52px;
          font-family: $georgia-ff;
          font-style: normal;
          font-weight: 400;
          font-size: $fs-button;
          line-height: 130%;
          letter-spacing: $ls-text;
          color: $color-btn-txt;
          @extend %transparent-button;
        }

        .button__next {
          width: 52px;
          height: 52px;
          @extend %transparent-button;
        }
      }

      .button__rest {
        @extend %primary-button;
        width: 261px;
        height: 52px;
      }
    }
  }
}

@import "media";


